@charset "UTF-8";
/*
    Todos estos componentes y secciones deberían ser llamados desde el "main.scss"
    El archivo "all" es un shortcut para traer todos los archivos de una carpeta.
    Entonces podrían tener un all para components, y un all para sections, y los 3 all
    se llamarían desde main.scss.
*/
.button {
  padding: 10px 32px;
  border-radius: 50px;
  margin: 0px 20px 20px 0px;
}
.button.button-active {
  background: #007bff;
  border: 2px solid #007bff;
}
.button.button-active:hover {
  background: #1445b3;
  border: 2px solid white;
  transition: 0.5s;
}
.button.button-alternative {
  background: #1445b3;
  border: 2px solid white;
}
.button.button-alternative:hover {
  background: #007bff;
  border: 2px solid #007bff;
  transition: 0.5s;
}
.button.button-mini {
  color: #007bff;
  background-color: #ecf5ff;
  border: 1px solid #ecf5ff;
  padding: 6px 20px;
  margin: 15px 15px 20px 0;
  line-height: 20px;
}
.button.button-mini.activo {
  color: white;
  background-color: #007bff;
}

.button-msj {
  background-color: #007bff;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 40px;
  padding-top: 7px;
  border: none;
  cursor: pointer;
  width: 180px;
  display: flex;
  justify-content: center;
}
.button-msj:hover {
  background-color: #004a99;
}

.titulo {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  color: #283d50;
}

.parrafo {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 30px;
  color: #556877;
}

.text-center {
  text-align: center;
}

.red {
  color: #ff689b;
}

.yellow {
  color: #e9bf06;
}

.lightblue {
  color: #3fcdc7;
}

.green {
  color: #41cf2e;
}

.lightyellow {
  color: #d6ff22;
}

.skyblue {
  color: #4680ff;
}

.container {
  padding: 50px 0px;
}
.container header {
  width: 42%;
  margin: auto;
  text-align: center;
}
.container header.full {
  width: 100%;
}

.fixthing {
  width: 100%;
  margin: auto;
  text-align: center;
}

.contenedorblanco {
  width: 100%;
  background: white;
  padding: 50px 0px;
}

header {
  z-index: 13;
}
header img {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 294;
}
header .mobburger {
  display: none;
  position: absolute;
  z-index: 200;
  background-color: black;
  width: 100vw;
  height: 100vh;
  Opacity: 0.7;
}
@media (min-width: 990px) {
  header .mobburger {
    display: none;
  }
}
header .mobmenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 666px;
  background-color: rgba(19, 39, 57, 0.8);
  padding: 60px 0 0 0px;
  text-align: left;
  transition: width 0.5s linear;
  overflow: auto;
  z-index: 299;
}
@media (min-width: 990px) {
  header .mobmenu {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 290;
    overflow: visible;
    padding: 0px;
  }
}
header nav {
  text-align: right;
  line-height: 24px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 90;
}
@media (min-width: 990px) {
  header nav {
    line-height: 20px;
  }
}
header nav label {
  margin: 0 30px 0 0;
  line-height: 70px;
  z-index: 400;
}
header nav label .mobcerrado {
  color: #00428a;
  z-index: 400;
  position: relative;
  font-size: 27px;
}
@media (min-width: 990px) {
  header nav label .mobcerrado {
    display: none;
  }
}
header nav label .fas {
  color: white;
  display: none;
  transition: all 0.2 linear;
}
header nav #openmenu {
  display: none;
  /* &:checked .mobcerrado  { display: none; } &:checked .fas { display: inline-block; }*/
}
header nav #openmenu:checked + .mobmenu {
  width: 260px;
}
header nav #openmenu:checked ~ .mobburger {
  display: block;
}
header nav #menu {
  margin: 0 30px 0 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 990px) {
  header nav #menu {
    flex-direction: row;
    justify-content: flex-end;
    margin: 30px 50px;
  }
}
header nav #menu .dropuno, header nav #menu .dropdos {
  display: none;
}
@media (min-width: 990px) {
  header nav #menu .dropuno, header nav #menu .dropdos {
    background-color: white;
    box-shadow: 1px 1px 2px gray;
    transition: all 2s linear;
  }
}
header nav #menu .druno:hover .dropuno {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
@media (min-width: 990px) {
  header nav #menu .druno:hover .dropuno {
    position: relative;
    padding-left: 5px;
    width: 130px;
  }
}
header nav #menu .druno:hover .colorun {
  color: #74b5fc;
}
header nav #menu .drdos:hover .dropdos {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
@media (min-width: 990px) {
  header nav #menu .drdos:hover .dropdos {
    position: absolute;
    left: 135px;
    top: 25px;
    width: 140px;
    padding-left: 10px;
  }
}
header nav .drdos:hover .colordo {
  color: #74b5fc;
}
header nav .decodes {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;
  transition: display 1s linear;
}
@media (min-width: 990px) {
  header nav .decodes {
    color: #00428a;
    margin-left: 14px;
  }
}
header nav a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;
  transition: display 1s linear;
}
header nav a:hover {
  color: #74b5fc;
}
header nav a .fas {
  font-size: 18px;
}
@media (min-width: 990px) {
  header nav a {
    color: #00428a;
    margin: 0 15px 7px 15px;
  }
}

.testi {
  background: #ecf5ff;
}
.testi .test-contenido {
  width: 80%;
  margin: auto;
  text-align: center;
}
@media (min-width: 990px) {
  .testi .test-contenido {
    width: 42%;
  }
}
@media (min-width: 990px) {
  .testi .monials {
    height: 180px;
    width: 610px;
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
  }
  .testi .monials .infomonials {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    margin: 0 0 0 15px;
  }
  .testi .monials .infomonials p {
    width: 100%;
    text-align: left;
    padding-bottom: 70px;
    margin: 0;
  }
  .testi .monials img {
    width: 120px;
    height: 120px;
  }
}
.testi .nombres {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.testi .ceo {
  color: #999;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 15px;
}
.testi .descrip {
  font-style: italic;
}
.testi .testimg {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.testi .tcirculos {
  color: #ddd;
  margin: 5px;
}
.testi .tcirculos:hover {
  color: #007bff;
}

.team {
  width: 100%;
  background: white;
  padding: 50px 0px;
  box-shadow: 2px 1px 1px grey;
}
.team .batmen {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.team .batman {
  position: relative;
  border-radius: 50%;
  width: 330px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  margin: 10px;
}
.team .batman img {
  width: 100%;
}
@media (min-width: 990px) {
  .team .batman {
    width: 210px;
    height: 210px;
  }
}
.team .batman:hover .hovblu {
  display: flex;
}
.team .batman h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.team .batman span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.team .batman i {
  font-size: 18px;
  margin: 10px 10px 0 0;
}
.team .batman i:hover {
  color: #1445b3;
}
.team .batman .hovblu {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: all 2s linear;
  position: absolute;
}

.oclients {
  background: #ecf5ff;
}

.clientescont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
}
@media (min-width: 990px) {
  .clientescont {
    max-width: 1100px;
    padding: auto;
  }
}
.clientescont .clientes {
  background-color: white;
  width: 230px;
  height: 160px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 990px) {
  .clientescont .clientes {
    max-width: 600px;
  }
}
.clientescont .clientes img {
  width: 100px;
  transition: all 0.4s ease-in-out;
}
.clientescont .clientes img:hover {
  width: 120px;
}

.intro {
  background: #1445b3;
  width: 100%;
  padding-top: 129px;
}
.intro .container-intro {
  width: 100%;
  margin: auto;
}
.intro .container-intro .intro-img {
  height: auto;
  width: 80%;
  margin: auto;
}
.intro .container-intro .intro-img img {
  max-width: 100%;
}
.intro .container-intro .intro-info h2 {
  font-size: 34px;
  line-height: 1.2;
  color: white;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}
.intro .container-intro .intro-info h2 span {
  display: block;
  text-decoration-line: underline;
  color: #74b5fc;
}
.intro .container-intro .intro-info .intro-button {
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.intro .container-intro .intro-info .intro-button button {
  font-size: 14px;
  color: white;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  margin: 10px;
}

@media (min-width: 990px) {
  .intro {
    padding-top: 200px;
  }
  .intro .container-intro {
    max-width: 1115px;
    width: 85%;
    display: flex;
    flex-flow: row-reverse;
  }
  .intro .container-intro .intro-img {
    padding: 0 0 97px 102px;
    width: 50%;
  }
  .intro .container-intro .intro-info h2 {
    font-size: 48px;
  }
  .intro .container-intro .intro-info h2,
.intro .container-intro .intro-info .intro-button {
    text-align: left;
  }
}
.about .container-img {
  width: 75%;
  margin: auto;
}
.about .container-img img {
  max-width: 100%;
}
.about .subcontainer-principal {
  width: 85%;
  margin: auto;
}
.about .container-subcontainer {
  margin: 0px 0px 30px;
}
.about .container-subcontainer p {
  font-size: 16px;
  line-height: 26px;
  color: #444;
}
.about .container-subcontainer .subcontainer {
  padding-bottom: 30px;
}
.about .container-subcontainer .subcontainer:hover .subcontainer-img {
  background: #007bff;
}
.about .container-subcontainer .subcontainer:hover .subcontainer-img i {
  color: white;
  transition: all 0.3s ease-in-out;
}
.about .container-subcontainer .subcontainer .subcontainer-img {
  width: 64px;
  height: 64px;
  border: 2px solid #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.about .container-subcontainer .subcontainer .subcontainer-img i {
  color: #007bff;
  font-size: 25px;
}
.about .container-subcontainer .subcontainer .subcontainer-texto {
  padding-left: 80px;
}
.about .container-subcontainer .subcontainer .subcontainer-texto h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #283d50;
}
.about .container-subcontainer .subcontainer .subcontainer-texto p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  display: block;
  line-height: 24px;
  margin-top: 2px;
  color: #444;
}
.about .container-texto {
  margin: 30px 0px;
}
.about .container-texto h3 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #283d50;
}
.about .container-texto p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #444;
}

@media (min-width: 990px) {
  .about {
    width: 90%;
    margin: auto;
  }
  .about .subcontainer-principal {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 80px;
    margin-bottom: 12px;
  }
  .about .subcontainer-principal .container-img {
    width: 45%;
  }
  .about .subcontainer-principal .container-subcontainer {
    width: 45%;
  }
  .about .subcontainer-principal .container-texto {
    width: 45%;
  }
  .about .princ-row {
    flex-direction: row;
  }
}
.services {
  background: #ecf5ff;
}
.services .contenedor-box {
  font-weight: 400;
  line-height: 1.5;
}
.services .contenedor-box .box {
  background: white;
  border-radius: 10px;
  margin: auto;
  max-width: 53%;
  margin-bottom: 40px;
  padding: 10px 10px 20px 75px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.services .contenedor-box .box:hover h4 {
  color: #007bff;
  transition: 0.5s;
}
.services .contenedor-box .box div {
  display: inline-block;
  position: absolute;
  left: -8px;
  top: 24px;
}
.services .contenedor-box .box div i {
  font-size: 64px;
}
.services .contenedor-box .box h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 16px;
  color: #111;
}
.services .contenedor-box .box p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #444;
}

@media (min-width: 990px) {
  .services .contenedor-services .contenedor-box {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .services .contenedor-services .contenedor-box .box {
    width: 33%;
  }
}
.whychoose {
  background: #004a99;
}
.whychoose .titulo, .whychoose .parrafo {
  color: white;
  line-height: 1.2;
}
.whychoose .contenedor-card .card {
  background-color: #00458f;
  border-color: #00458f;
  width: 70%;
  margin: auto;
  color: white;
  text-align: center;
  padding: 35px 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 23px;
  border-radius: 10px;
  line-height: 1.5;
  transition: 0.3s ease-in-out;
}
.whychoose .contenedor-card .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}
.whychoose .contenedor-card .card .contenedor-img {
  width: 100%;
}
.whychoose .contenedor-card .card .contenedor-img i {
  color: #d8eafe;
  font-size: 48px;
}
.whychoose .contenedor-card .card h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding: 15px 0px 3px;
}
.whychoose .contenedor-card .card p {
  font-size: 15px;
  color: #d8eafe;
  line-height: 1.5;
}
.whychoose .contenedor-card .card a {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}
.whychoose .content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 13px;
  justify-content: space-between;
}
.whychoose .content .content-num {
  width: 45%;
  text-align: center;
  padding-bottom: 10px;
}
.whychoose .content .content-num span {
  font-weight: bold;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.whychoose .content .content-num p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #ecf5ff;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 990px) {
  .whychoose .contenedor-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
  .whychoose .contenedor-card .card {
    width: 26%;
  }
  .whychoose .content {
    justify-content: center;
    width: 97%;
  }
  .whychoose .content .content-num {
    width: 20%;
    padding: 14px;
  }
}
.portafolio button {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.portafolio button:hover {
  cursor: pointer;
  color: white;
  background-color: #007bff;
}
.portafolio .cont-cards {
  width: 80%;
  margin: auto;
}
.portafolio .cont-cards .cont-card {
  overflow: hidden;
  height: 250px;
  position: relative;
  border-radius: 6px;
  margin: 0 5px 27px 20px;
}
.portafolio .cont-cards .cont-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portafolio .cont-cards .cont-card .cont-capa {
  visibility: hidden;
  background: #0089ff69;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.portafolio .cont-cards .cont-card .cont-capa .capa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.portafolio .cont-cards .cont-card .cont-capa .capa h4 {
  padding-bottom: 8px;
}
.portafolio .cont-cards .cont-card .cont-capa .capa h4 a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  line-height: 1px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.portafolio .cont-cards .cont-card .cont-capa .capa h4 span {
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
}
.portafolio .cont-cards .cont-card .cont-capa .capa div {
  font-size: 46px;
}
.portafolio .cont-cards .cont-card .cont-capa .capa div .cont-icon {
  border-radius: 50%;
  background: #007bff;
  width: 36px;
  height: 36px;
  position: relative;
  line-height: 1;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
.portafolio .cont-cards .cont-card .cont-capa .capa div .cont-icon i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
  position: absolute;
  left: 10px;
}
.portafolio .cont-cards .cont-card:hover > .cont-capa {
  visibility: visible;
}

@media (min-width: 990px) {
  .portafolio .cont-cards {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .portafolio .cont-cards .cont-card {
    width: 30%;
  }
}
.datacontacto {
  color: #283d50;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.dataicon {
  color: #007bff;
  font-size: 30px;
}

.formcontact {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.formcontact .contactform {
  width: 95%;
  margin: 5px 0px;
}
@media (min-width: 990px) {
  .formcontact .contactform {
    margin: 5px 10px;
  }
}

.datos {
  height: 30px;
}

.mapacont {
  width: 100%;
  height: 300px;
}
@media (min-width: 990px) {
  .mapacont {
    width: 60%;
  }
}
.mapacont .mapa {
  height: 100%;
  width: 97%;
  border: none;
}

.infomapa {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: initial;
}
@media (min-width: 990px) {
  .infomapa {
    flex-flow: row nowrap;
  }
}
.infomapa i {
  margin-right: 10px;
}
.infomapa .iconotextomapa {
  width: 200px;
  padding: 10px 0 20px 0;
}
@media (min-width: 990px) {
  .infomapa .iconotextomapa {
    padding: 10px 0 20px 15px;
  }
}

@media (min-width: 990px) {
  .contactglobal {
    display: flex;
    flex-direction: row;
  }
  .contactglobal .txtarea {
    height: 132px;
    margin-bottom: 20px;
  }
}

.nameyemail {
  width: 100%;
  margin: auto;
}
@media (min-width: 990px) {
  .nameyemail {
    width: 99%;
    display: flex;
    flex-direction: row;
  }
  .nameyemail .contactnombre {
    margin-right: 0px;
  }
}

footer {
  background: #004a99;
  color: #eee;
  padding-top: 60px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
footer .content-general {
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
}
footer .content-general .cont-wayne {
  margin-bottom: 30px;
}
footer .content-general .cont-wayne h3 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 3px;
}
footer .content-general .cont-wayne p {
  font-size: 13px;
  line-height: 24px;
}
footer .content-general .useful {
  padding-bottom: 20px;
}
footer .content-general .useful h4 {
  font-size: 14px;
  padding: 1px 0px 24px 0px;
  font-family: "Montserrat", sans-serif;
}
footer .content-general .useful a {
  display: block;
  text-decoration: none;
  color: #ecf5ff;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 15px;
}
@media (min-width: 990px) {
  footer .content-general .useful a:hover {
    color: #74b5fc;
    transition: 0.5s;
  }
}
footer .content-general .contact h4 {
  padding-bottom: 10px;
}
footer .content-general .contact p {
  line-height: 26px;
}
footer .content-general .subcribe {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 14px;
}
footer .content-general .subcribe h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}
footer .content-general .subcribe p {
  font-family: "Open Sans", sans-serif;
  color: #eee;
}
footer .content-general .subcribe form {
  display: flex;
  flex-wrap: wrap;
}
footer .content-general .subcribe form .email {
  border: 0;
  padding: 8px 8px;
  width: 58%;
}
footer .content-general .subcribe form .submit {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
footer .content-general .subcribe form .submit:hover {
  background-color: #0062cc;
}
footer .content-general .icons-social {
  margin-bottom: 20px;
}
footer .content-general .icons-social a {
  color: white;
  width: 36px;
  display: inline-block;
  height: 36px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-size: 18px;
}
footer .content-general .icons-social a:hover {
  background-color: #0067d5;
}
footer .container-copycredi {
  background: #00428a;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 25px;
}
footer .container-copycredi p {
  font-size: 14px;
  color: #f1f7ff;
  padding-top: 30px;
  margin-bottom: 4px;
  color: #eee;
}
footer .container-copycredi div {
  font-size: 13px;
  color: #f1f7ff;
}

@media (min-width: 990px) {
  footer .content-general {
    display: flex;
    width: 85%;
  }
  footer .content-general .cont-wayne {
    max-width: 33.33%;
  }
  footer .content-general .useful {
    max-width: 16.66%;
    padding: 0px 25px 0px 25px;
  }
  footer .content-general .useful p {
    padding-bottom: 4px;
  }
  footer .content-general .contact {
    padding: 0 25px 0px 30px;
  }
  footer .content-general .subcribe {
    padding: 0 32px 0px 35px;
  }
  footer .content-general .subcribe p {
    padding: 0px 12px 0 0;
  }
  footer .content-general .subcribe, footer .content-general .contact {
    max-width: 25%;
  }
}
body {
  margin: 0px;
}

h1, h2, h3, h4 {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
