.about{
    padding: 50px 0px;
    .container-about{
        text-align: center;
        
        h2{
            
            font-size: 36px;
            font-weight: 500;
            line-height: 1.2;
            font-family: $titulos;
            padding: 10px;
            color:$grayt;
        }
        p{
            width: 42%;
            margin: auto;
            font-size:15px;
            font-family: $parrafos;
            padding-bottom: 30px;
            color:$graypp;
            
        }
    }
    .container{
       
        
        .container-img{   
            width: 75%; 
            margin: auto;
            img{
                max-width: 100%;    
                height: auto;
            }      
        }
        .container-subcontainer{
            margin: 0px 80px 30px;

            .container-info{
                p{
                    font-size: 16px;
                    font-family: $parrafos;
                    line-height: 26px;
                    color:$grayp;
                    
                }
            }
            .subcontainer{
               
                padding-bottom: 30px;
               
                
                .subcontainer-img{
                    
                    width: 64px;
                    height: 64px;
                    border: 2px solid $azul;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    float: left;
                     
                        i{  
                            color:$azul;
                            font-size: 25px;
                            
                        }  
                }
                .subcontainer-texto{
                    padding-left: 80px;
                
                    h3{
                        font-family: $titulos;
                        font-size: 18px;
                        font-weight: 700;
                        color:$grayt;
                    }
                    p{
                        font-size: 14px;
                        font-family: $parrafos;
                        display: block;
                        line-height: 24px;
                        margin-top: 2px;
                        color:$grayp
                    }
            
                }
            }
        }
        .container-texto{
            margin: 30px 80px;
            h3{
                font-size: 24px;
                font-family: $titulos;
                color:$grayt;
            }
            p{
                font-size: 16px;
                font-family: $parrafos;
                color:$grayp;
            }

        }    
        

    }


    
}