.button{
    padding: 10px 32px;
    border-radius: 50px;
    margin: 0px 20px 20px 0px;
    &.button-active{
        background: $azul;
        border: 2px solid $azul;
        &:hover{
            background: $azulmed;
            border: 2px solid white;
            transition:  .5s;
        }
    }
    &.button-alternative{
        background: $azulmed;
        border: 2px solid white;
        &:hover{
            background: $azul;
            border: 2px solid $azul;
            transition: .5s;
            
        }
    }
    &.button-mini{
        color:$azul;
        background-color:$celesteclaro;
        border: 1px solid $celesteclaro;
        padding: 6px 20px;
        margin: 15px 15px 20px 0;
        line-height: 20px;
        
        &.activo{
            color:white;
            background-color:$azul;
        }
    }
}   
 