.container{
    padding: 50px 0px;

    .encabezado{
        width: 42%;
        margin: auto;
        text-align: center;
    }
}

.fixthing{
    width: 100%;
    margin: auto;
    text-align: center;
  }