.container{
    padding: 50px 0px;

    header{
        width: 42%;
        margin: auto;
        text-align: center;
        &.full{
            width: 100%;
        }
    }
}
// Nombre de clase a corregir
.fixthing{
    width: 100%;
    margin: auto;
    text-align: center;
  }

.contenedorblanco{
    
    width: 100%;
    background: white;
    padding: 50px 0px;
}  