
section.intro{
    background: $azulmed;
    width: 100%;
    padding: 100px 0px 120px 0px;

    div.container-intro{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
       
 
        div.intro-img{
            height: auto;
            width: 50%;
            margin: auto;
            img{
                max-width:100%;
            }   
            
        }
        div.intro-info{
            
            h2{
                font-size: 48px;
                line-height: 1.2;
                color: white;
                margin: auto;
                box-sizing: border-box;
                text-align: center;
                padding-bottom: 40px;
                font-family: $titulos;

            
                span{
                    text-decoration-line: underline;
                    color:$celeste;

                }
            }
            div.intro-button{
                margin: auto;
                text-align: center;
                padding-bottom: 50px;
            
                button{
                    font-size: 14px;
                    padding: 10px 32px;
                    border-radius: 50px;
                    margin: 0px 20px 20px 0px;
                    color: white;
                    line-height: 1.5;
                    font-weight: 700;
                    font-family: $parrafos;
                    letter-spacing: 1px;
                    &.button-left{
                        background: $azul;
                        border: 2px solid $azul;
                        &:hover{
                            background: $azulmed;
                            border: 2px solid white;
                            transition: .5s;
                        }
                    }
                    &.button-right{
                        background: $azulmed;
                        border: 2px solid white;
                        &:hover{
                            background: $azul;
                            border: 2px solid $azul;
                            transition: .5s;
                            
                        }
                    }
                    

                }         
            }
                
        
        }   

    }
}



@media(min-width:576px){
    section.intro{
        div.container-intro{
            max-width: 540px;
        }
       
    }
}
@media(min-width:768px){
    section.intro{
        div.container-intro{
            max-width: 720px;
        }
            
    }
}
@media(max-width:767px){    
    section.intro{
        div.container-intro{
            div.intro-info{
                h2{
                    font-size: 34px;
                    margin-bottom: 30px;
                }
            }    

        }
    }    
}
@media(max-width:991px){
    section.intro{
        div.container-intro{
            div.intro-img{
                width: 80%;
                margin: 0 auto 25px auto;   
            }
        }
    }
}




@media(min-width:992px){
    section.intro{
        div.container-intro{
            max-width: 960px;
            display: flex;
            flex-direction: row-reverse;
            div.intro-info{
                h2, div.intro-button{
                    text-align: left;
                }
                
            }
        }
    
    }
}