.titulo{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    font-family: $titulos;
    padding: 10px;
    color:$grayt;
}
.parrafo{
    font-size:15px;
    font-family: $parrafos;
    padding-bottom: 30px;
    color:$graypp;
}
.text-center{
    text-align: center;
}

.red{
    color:$red;
}
.yellow{
    color:$yellow;
}
.lightblue{
    color:$lightblue;
}
.green{
    color:$green;
}
.lightyellow{
    color:$lightyellow;
}
.skyblue{
    color:$skyblue;
}