$parrafos: 'Open Sans', sans-serif;
$titulos: 'Montserrat', sans-serif;
$azul: #007bff;
$celeste: #74b5fc; 
$azulosc: #00428a;
$azulmed:#1445b3;
$grayt:#283d50;
$grayp:#444;
$graypp: #556877; 
$graydot: #ddd;
$celesteclaro:#ecf5ff;