$parrafos: 'Open Sans', sans-serif;
$titulos: 'Montserrat', sans-serif;
$azul: #007bff;
$celeste: #74b5fc; 
$celestelight: #d8eafe;
$azulosc: #00428a;
$azulmed:#1445b3;
$azulopaco:#004a99;
$azulcard: #00458f;
$azulcardh: #003b7a;
$grayt:#283d50;
$grayp:#444;
$graypp: #556877; 
$graydot: #ddd;
$grayceo: #999;
$celesteclaro:#ecf5ff;
$red:#ff689b;
$yellow:#e9bf06;
$lightyellow: #d6ff22;
$green:#41cf2e;
$lightblue:#3fcdc7;
$skyblue:#4680ff;
$black: #111;
$azultransparente: #0089ff69;
