.datacontacto{
    color: $grayt;
    font-family: $parrafos;
    font-size: 14px;
}

.dataicon{
 color: $azul;
 font-size: 30px;
}

.contactform{
    
    max-width: 930px;
}

.datos{
    height: 30px;
}