.datacontacto{
    color: $grayt;
    font-family: $parrafos;
    font-size: 14px;
}

.dataicon{
 color: $azul;
 font-size: 30px;
}

.formcontact{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

.contactform{
    
    width: 97%;
    margin: 5px 10px 5px 10px;
   
}
}

.datos{
    height: 30px;
}

.mapacont{
    width: 100%;
    height: 300px;
   

.mapa{
     
     height: 100%;
     width: 97%;
        border: none;
}
}

.infomapa{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: initial;

    i{
        margin-right: 10px;
    }
    
    
    .iconotextomapa{
        width: 200px;
        padding: 10px 0 20px 0;

    }

    
}

.contactglobal{
    
@include desktop {
    display: flex;
    flex-direction: row;
  }
}