header{
    z-index: 13;
   
img{
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 294;
   
}
.mobburger{
display: none;
position: absolute;   
z-index: 200;
background-color: black;
width: 100vw;
height: 100vh;
Opacity: 0.7;

@include desktop {
  display: none;
}
}

.mobmenu{
 position: absolute;
 top: 0px;
 left: 0px;   
 width: 0px;
 height: 666px;
 background-color: rgba(19, 39, 57, 0.8);   
 padding: 60px 0 0 0px;
 text-align: left;
 transition: width 0.5s linear;
 overflow: auto;
 z-index: 299;
 
 @include desktop {
  
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 290;
    overflow: visible;
    padding: 0px;
    

}

}

nav {
    
    text-align: right;
    line-height: 24px;
    display: flex;
    justify-content: flex-end;
    background-color:white;
    position:fixed;
    width: 100%;
    z-index: 90;

    @include desktop {
      line-height: 20px;
        
    
    }

    label{ margin: 0 30px 0 0;
    line-height: 70px;
    z-index: 400;
 
  .mobcerrado{
    color: $azulosc;
    z-index: 400;
    position: relative;
    font-size: 27px;
    @include desktop {
      display: none;
    }
    
  } 
  .fas{
    color: white;
    display: none;
    transition: all 0.2 linear;
  } 
}
#openmenu{
    display: none;
   /* &:checked .mobcerrado  { display: none; } &:checked .fas { display: inline-block; }*/

    &:checked + .mobmenu
    {
     width: 260px;  
    }
    &:checked ~ .mobburger
    {
      display: block;
    }
   
}
#menu{
    margin: 0 30px 0 20px;    
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      justify-content: flex-end;
      margin: 30px 50px;
    
    }
    
   .dropuno,.dropdos{
       display: none;
       @include desktop {
       background-color: white;
       box-shadow: 1px 1px 2px gray;
       transition: all 2s linear;
      }
} 

.druno:hover  .dropuno{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  @include desktop {
    position: relative;
    padding-left: 5px;
    width: 130px;
    
   }
}
.druno:hover .colorun{
  color: $celeste;
}

.drdos:hover  .dropdos{
  display: flex;
  flex-direction: column;
    padding-left: 25px;
    @include desktop {
      position: absolute;
      left: 135px;
      top: 25px;
      width: 140px;
      padding-left: 10px;

     }
  }
}
.drdos:hover .colordo{
  color: $celeste;
}



.decodes{
  
  font-family: $parrafos;
  color: white;
  font-size: 16px;
  transition: display 1s linear;
  
  @include desktop {
    color: $azulosc;
    margin-left: 14px;
}
}
   

   a{
   
      text-decoration: none;
       font-family: $parrafos;
       color: white;
       font-size: 16px;
       transition: display 1s linear;
&:hover{
    color: $celeste;
}
.fas {
    font-size: 18px;

}

       @include desktop {
           color: $azulosc;
           margin: 0 15px 7px 15px;
       }
    }

}
}


