.oclients{
    background: $celesteclaro;
}

.clientescont{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
    @include desktop{
        max-width: 1100px;
        padding: auto;
    }


.clientes{

    background-color: white;
    width: 230px;
    height: 160px;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop{
       
        max-width: 600px;
        
        
    }

    img{
        width: 100px;
        transition: all 0.4s ease-in-out;
       &:hover {
           width: 120px;
    }
    }
}
}