.portafolio{
    button{
        font-size: 12px;
        font-family: $parrafos;
        &:hover{
            cursor: pointer;
            color:white;
            background-color:$azul;
        }
    }
   .cont-cards{
       display:flex;
       flex-direction: column;
       align-content: center;
        width: 80%;
        margin: auto;
        .cont-card{
            overflow: hidden;
            height: 250px;
            position: relative;                
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .cont-capa{
                visibility: hidden;
                background: $azultransparente;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;                
                .capa{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }
            }
            &:hover>.cont-capa{
                visibility: visible;            
            }
        }
    }
   
}

@include desktop{


}
